<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@1.46.4">
      <projectNameList>
        <string>cd-job-cts-webserver</string>
      </projectNameList>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.RunParameterDefinition>
          <name>APP_CTS</name>
          <projectName>cts-branch-build</projectName>
          <filter>SUCCESSFUL</filter>
        </hudson.model.RunParameterDefinition>
        <hudson.model.RunParameterDefinition>
          <name>SERVICE</name>
          <projectName>cts-webserver</projectName>
          <filter>SUCCESSFUL</filter>
        </hudson.model.RunParameterDefinition>
        <hudson.model.RunParameterDefinition>
          <name>K8S_CONFIG</name>
          <projectName>cts-kubernetes-config</projectName>
          <filter>SUCCESSFUL</filter>
        </hudson.model.RunParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.46.4">
      <project>${APP_CTS_JOBNAME}</project>
      <filter>metadataCTS.txt</filter>
      <target>artifacts/${APP_CTS_JOBNAME}</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.SpecificBuildSelector">
        <buildNumber>${APP_CTS_NUMBER}</buildNumber>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.46.4">
      <project>${SERVICE_JOBNAME}</project>
      <filter>metadataDocker.txt</filter>
      <target>artifacts/${SERVICE_JOBNAME}</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.SpecificBuildSelector">
        <buildNumber>${SERVICE_NUMBER}</buildNumber>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.46.4">
      <project>${K8S_CONFIG_JOBNAME}</project>
      <filter>metadataK8S.txt</filter>
      <target>artifacts/${K8S_CONFIG_JOBNAME}</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.SpecificBuildSelector">
        <buildNumber>${K8S_CONFIG_NUMBER}</buildNumber>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>
export graph_file=${SERVICE_JOBNAME}_${BUILD_NUMBER}.yaml
echo $graph_file
rm -f $graph_file

# Generate new graph for service
cat artifacts/$APP_CTS_JOBNAME/metadataCTS.txt &gt;&gt; $graph_file
cat artifacts/$SERVICE_JOBNAME/metadataDocker.txt &gt;&gt; $graph_file
cat artifacts/$K8S_CONFIG_JOBNAME/metadataK8S.txt &gt;&gt; $graph_file
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>${SERVICE_JOBNAME}_${BUILD_NUMBER}.yaml</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
      <followSymlinks>true</followSymlinks>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>cd-job-cts-webserver</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>